body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav ul {
	margin: 0px;
	padding: 0px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav ul:not(:first-child) {display: none;}

}

/* Change the color of links on hover */
.topnav ul:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav ul.active {
    background-color: red;
    color: white;
}

.topnav ul.sign {
    color: white;
    float: right;
    background-color: black;
}

.topnav ul.sign:hover {
    background-color: #ddd;
    color: black;
}
.topnav  button {
  padding: 2.4px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

figure{
   width:1700px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
figure img{
	position: relative;
   display:block; /*remove inline-block spaces*/
   width:90%; /*make image streatch*/
   margin:-16.875% 0;
}

.text-block {
    position: absolute;
    top:40px;
    right: 20px;
    background-color: #1B1A1A;
    opacity: 0.5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h4.titre{
	color: white; 
	font-family: 'Helvetica Neue',

	sans-serif; 
	font-size: 36px; 
	font-weight: 80; 
	line-height: 50px; 
	letter-spacing: 1px; 
	padding: 0 0 30px; 
	border-bottom: double #555; 
}

li img.imglist{
width: 20%;
margin:0;

}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

#customers th {
		background-color: #ff9999;

	}


#customers tr img.imglist{
	width: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=text] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=text]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */


/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 2.4px;
  margin-top: 8px;
  margin-left: 3px;
  font-size: 17px;
  border: none;
  width: 140px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav input[type=password]{
  padding: 2.4px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 140px; /* adjust as needed (as long as it doesn't break the topnav) */
}



.row1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row1 {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*.column img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 0;
    margin:0;
}*/